@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    border: none;
}
.navbar {
    background: #4CA1AF;
    background: -webkit-linear-gradient(to right, #4CA1AF, #C4E0E5);
    background: linear-gradient(to right,#4CA1AF, #C4E0E5 );
    height: 50px;
    display: flex;
    position: sticky;
    top: 0;
  }
  #preço{
    font-weight: bold;
    font-size: 30px;
    height: 40px;

  }
  #fPreços{
    margin-left: 90px;
    margin-top: 40px;
    display: inline-flex;
  }
label {
    font-size: 40px;
    font-weight: bold;
    line-height: 90px;
}
input{
  outline:solid 1px #000;
  margin-left: 100px;
  height: 30px;
  width: 300px;
  font-size: 20px;
}
  #main{
    background-color:#C4E0E5 ;
    outline:solid 1px #000;
    width: fit-content;
    font-size: 24px;
    display: inline-flex;
    margin-left: 30%;
  }
button{
     background-color: #C4E0E5;
     color:#000;
     justify-content: center;
     width: 300px;
     border: none;
     border-radius: 20px;
     height: 40px;
     cursor: pointer;  
     font-weight: bold;
     font-size: 18px;
     border-bottom: 2px solid #323232;
     padding: 10px;
     margin-left: 245px;
     margin-top: 60px;
     display: inline-flex;
     outline: none;
     transition: all .4s ease-out;
}
#btn1:hover{
  background-color:#58DEFC ;
  color: #FFF;
}
#btn2:hover{
  background-color:#FF5C46 ;
  color: #FFF;
}
footer {
  background: #4CA1AF;
  background: -webkit-linear-gradient(to right, #4CA1AF, #C4E0E5);
  background: linear-gradient(to right,#4CA1AF, #C4E0E5 );
  height: 30px;
  display: flex;
  position: sticky;
  width: 100%;
}
